
body {
  position: relative; 
  background-color: rgb(240,240,240);
  background-attachment: fixed;
  background-blend-mode: lighten;
  margin: 0;
}

/* = Landing Page "Navigation Bar" */
 
.navbar {
	background-color: rgb(250, 250, 250);
	height: 50px;
	padding: inherit;}

  
#button-navagator {
  display: flex;
	width: 98px;
	max-height: 58px;
	cursor: pointer;
	border-radius: 4px;
	background-color: rgb(0,170,170);
	overflow: hidden;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	text-align: center;
	color: white;
	margin-left: 70px;
}

#navbarDropdown {
	overflow: hidden;
	float:right;
	color: black;
	text-align: center;
	padding: 14px 16px;
  text-decoration: none;
}
  
#navbarRight{
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float:right;
  font-size: 16px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* = Landing Page "Summary & Visualization" formats */

.title {
  color: rgb(0,170,170);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder; 
	padding-top: 17px;
	font-size: 27px;
}

/* = Landing Page "Summary: Latitude vs X" box */

#city-lat-img {
  float: left;
  width: 250px;
  height: 200px;
  position: center;
}

.sumbox {
  margin-top: 30px;
	margin-bottom: 60px;
	padding: 10px 30px 5px;
	color: black;
	background-color: white;
}

/* = Landing Page "Visualization" Box */

.visual_box {
  margin-top: 30px;
	margin-bottom: 60px;
	padding: 10px 30px 5px;
	color: black;
	background-color: white;
}

#visual_img {
  float: left;
	width: 175px;
  height: 125px;
  position: center;
}

#comp-img {	
	width:435px;
	height:300px;
}

/* = Plot Page Formatting*/

.plotbox {
  margin-top: 30px;
	margin-bottom: 60px;
	padding: 10px 30px 5px;
	color: black;
	background-color: white
}

#plotbox-img{
  width:500px;
	height:380px;
  float: top;
  position: center;
}

/* = Comparison and Data Page Formatting*/

.comparison-title{
	color: rgb(0, 169, 167);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder; 
	padding-top: 14px;
	padding-left: 100px;
  font-size: 22px;
}

#comparison-box{
  background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: 1080px;
	height: auto;
	font-family: Gill Sans, sans-serif;
	margin-top: 50px; 
	margin-bottom: 100px;
	padding: 10px 60px 10px 60px;
	border-radius: 4px;
}

#comparison-img{	
	width:435px;
	height:300px;
}

#data-box {
	background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: auto;
	height: auto;
	margin-top: 50px; 
	margin-bottom: 100px;
	padding: 10px 60px 10px 60px;
	border-radius: 4px;
}

.table {
	overflow-x: auto; 
	overflow-y: auto;
	max-height:470px; 
	max-width: auto;
	overflow: auto;
	width: auto;
	max-width: 100%;
	margin-bottom: 1rem;
	border-collapse: collapse;
}

.table-layout {
	table-layout: fixed;
	width: 100%;
}


/* = Page Footer */
	
.footer {
	position: fixed;
	margin-bottom: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background-color: rgb(250,250,250);
	text-align: center;
	padding-top: 10px;
	border-top-style: solid;
	border-top-width: 5px; 
	border-top-color: rgb(0, 170,170);
}

#page-container {
	position: fixed;
}

/* = Media */

@media (max-width: 991px) {
  #plotbox{
		width: auto;
		height: auto;
		margin-top: 50px; 
		padding: 10px 20px 15px;
	}

  #plotbox-img {
		width: 100% !important;
		height: 100% !important;
	}
}



@media (max-width: 770px) {
	#visual_box {
		width: auto;
	}
	
	#button-navagator {
		width: auto;
		height: auto;
	}
	.navbar {
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}

	.navbar-brand {
		padding: 8px !important;
	}	
}

@media (max-width: 600px) {
	#comp-img {
		vertical-align: middle;
		width: 100% !important;
		height: 100% !important;
	}
	
	#city-lat-img {
		width: 100% !important;
		height: 100% !important;
	}
	.title {
		padding-left: 90px;
		padding-right: 90px;
		font-size: 20px;
	}
}

